   /*! _navbar.scss | Bulkit | CSS Ninja *//* line 19, src/assets/scss/layout/_navbar.scss */.navbar {
    background-color:#fff;
    height:60px;
    -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.12);
    box-shadow:0 0 8px 0 rgba(0,0,0,0.12);
    -webkit-transition:all .3s;
    transition:all .3s
   }
   /* line 25, src/assets/scss/layout/_navbar.scss */.navbar .navbar-brand {
    height:60px
   }
   /* line 28, src/assets/scss/layout/_navbar.scss */.navbar .navbar-brand .light-logo {
    display:none !important
   }
   /* line 32, src/assets/scss/layout/_navbar.scss */.navbar .navbar-brand .dark-logo {
    display:block !important;
    width: 60px
   }
   /* line 36, src/assets/scss/layout/_navbar.scss */.navbar .navbar-brand .navbar-burger {
    height:60px;
    width:60px;
    -webkit-transition:all .3s;
    transition:all .3s
   }
   /* line 41, src/assets/scss/layout/_navbar.scss */.navbar .navbar-brand .navbar-burger span {
    background:#fff
   }
   /* line 47, src/assets/scss/layout/_navbar.scss */.navbar .separator {
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    height:32px;
    width:1.4px;
    margin:0 16px;
    background:#ccc
   }
   /* line 57, src/assets/scss/layout/_navbar.scss */.navbar .navbar-item {
    color:#999;
    -webkit-transition:all .3s;
    transition:all .3s
   }
   /* line 62, src/assets/scss/layout/_navbar.scss */.navbar .navbar-item.has-hover:before {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    -webkit-transform-origin:right center;
    transform-origin:right center;
    height:1.4px;
    background:#ff8017;
    -webkit-transform:scale(0, 1);
    transform:scale(0, 1);
    -webkit-transition:-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1)
   }
   /* line 95, src/assets/scss/layout/_navbar.scss */.navbar .navbar-item .cta-button {
    background:#101025;
    border-color:#101025
   }
   /* line 110, src/assets/scss/layout/_navbar.scss */.navbar.is-faded {
    height:80px;
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
   }
   /* line 115, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-brand {
    height:80px
   }
   /* line 118, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-brand .light-logo {
    display:block !important;
    width: 60px;
   }
   /* line 122, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-brand .dark-logo {
    display:none !important
   }
   /* line 126, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-brand .navbar-burger {
    height:80px;
    width:80px
   }
   /* line 130, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-brand .navbar-burger span {
    background:#fafafa
   }
   /* line 140, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .separator {
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    height:36px;
    width:1.4px;
    margin:0 16px;
    background:#fafafa
   }
   /* line 150, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-item {
    color:#fafafa
   }
   /* line 154, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-item.has-hover:before {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    -webkit-transform-origin:right center;
    transform-origin:right center;
    height:1.4px;
    background:#fafafa;
    -webkit-transform:scale(0, 1);
    transform:scale(0, 1);
    -webkit-transition:-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1)
   }
   /* line 187, src/assets/scss/layout/_navbar.scss */.navbar.is-faded .navbar-item .cta-button {
    background:#ff5e4d;
    border-color:#ff5e4d;
   }
   /* line 230, src/assets/scss/layout/_navbar.scss */.navbar .navbar-menu .navbar-item {
    text-align:center
   }
   /* line 234, src/assets/scss/layout/_navbar.scss */.navbar .navbar-menu .button {
    width:100%
   }
  
   /* line 45, src/assets/scss/components/_buttons.scss */.button.accent-button {
    background:#1ddba5;
    border-color:#1ddba5;
    color:#fafafa
   }
   /*! one-page-1.scss | Bulkit | CSS Ninja *//* line 22, src/assets/scss/pages/_one-page-1.scss */body {
    overflow-x:hidden
   }
   /* line 26, src/assets/scss/pages/_one-page-1.scss */.hero {
    position:relative;
    max-height:90vh
   }

   /* line 166, src/assets/scss/pages/_one-page-1.scss */.section .section-title h2 {
    margin:10px auto;
    text-align:center
   }
   /* line 256, src/assets/scss/pages/_one-page-1.scss */.title {
    font-family:'Nexa Bold', sans-serif;
    color:#332d55
   }
   /* line 260, src/assets/scss/pages/_one-page-1.scss */.title.is-light {
    color:#fafafa
   }
   /* line 273, src/assets/scss/pages/_one-page-1.scss */.subtitle {
    font-family:'Open Sans', sans-serif
   }
   /* line 276, src/assets/scss/pages/_one-page-1.scss */.subtitle.is-light {
    color:#fafafa
   }
   /*! _utilities.scss | Bulkit | CSS Ninja *//* line 22, src/assets/scss/utilities/_utilities.scss */.is-hidden {
    display:none !important
   }
  